@import "~bootstrap/scss/bootstrap";
.deliveryTitle {
    color: #91c03e;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    width: 100vw;
    margin-left: -5%;
    margin-bottom: 10px;
}

.deliveryPartners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform:translateX(10%);

}

.caroselItem {
    margin-bottom: 10px;
}

.caroselImg {
    height: 114px;
    margin-left: 25%;
}

.carouselDivider {
    width: 35%;
    margin-top: 10px;
}

.carouselLogo {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.carouselEatZillalogo {
    height: 80px;
    margin-bottom: 15px;
}

.loremParagraph {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.copyright {
    margin: 20px;
    text-align: center;
}

.phoneNumber {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
}

.transparentBox {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 50;
    width: 100%;
}

.figures{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
}
.figuresTwo{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100vw;
}

.card {
     margin: 10px;
     position: relative;
    width: 43.5em;
     .card-text {
    margin-top: 4.9em;
    position: absolute;
     background-color: #91c03e;
     color: white;
     font-size: 150%;
     padding: .5em;
     font-weight: bold;
    }
    .card-img{
        width: 100%;
        height: 100%;
    }
}
.card-info{
    width: 33em;
    position: absolute;
    margin-top: 11em;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 1.5em;
}
.card-info.right{
    right: 0;
    margin-top: 11em;
}
.recipes{
    width: 14em;
}
.recipe{
    width: 9.30em;
}
.meat{
    right: 0;
    width: 10.75em;
    margin-top: 4em;
    text-align: center;
}
.veggie{
    width: 14.55em;
}
.gluten{
    right: 0;
    width: 10.65em;
    margin-top: 4em;
    text-align: center;
}
.try {
    display: flex;
}
.try .card-text{
    align-self: center;
    width: 12em;
    margin-top: 4.8em;
    background-color: rgb(0,0,0);
    text-align: center;
    
}
.trying{
    align-self: center;
    width: 18em;
}
.member {
    display: flex;
}
.member .card-text{
    width: 13.25em;
    align-self: center;
    margin-top: 4.8em;
    background: #ffd200;
    color: black;
    text-align: center;

}
.members{
    align-self: center;
    width: 20em; 
}
.left .card-text {
        margin-top: 4.9em;
    
}

.card .right {
    width: 16em;
    .card-text {
        right: 0;
        text-align: center;
    }
 }

 .logInButton {
     border: 0;
 }

     
 .top{
     width: 100%;
     height: 50%;
     position: relative;
     .card-imgtop{
     width: 100%; 
     height: 50%;
    }
    .card-texttop {
        position: absolute;
        color: white;
        font-size: 400%;
        align-self: center;
        margin: 6em;
    }
}

.headerTitle {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    position: relative;
    bottom: -270px;
    margin-right: 55px;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.headerSubtitle {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    text-align: right;
    position: relative;
    bottom: -270px;
    margin-right: 55px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.navItems .navParent li {
    list-style-type: none;
    margin: .25em;
    font-size: 15px;
    margin-left: 15px;
}
.aboutText{
    width: 100vw;
}
@media(max-width: 700px){
    .figuresThree{
        display: block;

    }
    .figuresTwo{
        display: none;
    }
}
@media(min-width: 850px) {
    .deliveryPartners {
        display: none;
    }
    .figuresThree{
        display: none;
    }

    .headerRow {
        display: none;
    }
    .desktopHeader {
        display: block;
        // display: flex;
        // width: 150%;
        position: fixed;
        top: 0;
        z-index: 1000;


    }
    .navParent{
        display: flex;
        // border: 2px solid red;
        width: 125%;
        justify-content: space-between;
        margin-top: 20px;
       font-family: "raleway";
       font-weight: bold;
    } 
    .navItems{
        margin-left: 14em;
    }
    .navItems .navParent li {
        list-style-type: none;
        margin: .25em;
        font-size: 15px;
        margin-left: 15px;
    }
​
    .navSearch {
        display:flex;
        justify-content: space-between;
        width: 35%;
        margin: 2em;
        padding-left: 20%;
    }
    .searchIcon .show{
        margin: 0 auto;
        margin-right: 25%;
        margin-top: 2%;
        width: 50%;
    }
}

@media(max-width: 1000px){
    .navbar {
        flex-wrap: nowrap !important;
    }
}

@media(min-width: 600px) {
    .desktopHeader {
        display: block;
        width: 100vw;

    }
    .navParent {
        display: flex;
        list-style-type: none;
    }
    .headerRow {
        display: none;
    }

}
@media(max-width: 1000px){
    .navbar {
        flex-wrap: nowrap !important;
        width: 100vw;
    }
}

@media(max-width: 600px){
    .figures{
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .card{
        width: 40em;
        margin: auto;
    }
    .desktopHeader {
        display: none;
    }
    .headerRow {
        display: block;
        width: 100vw;
    }
    .figuresThree{
        display: block;

    }
    .figuresTwo{
        display: none;
    }
}

@media(max-width: 420px){
    .figures{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 40em;
        margin: auto;
    }
    .desktopHeader {
        display: none;
    }
    .headerRow {
        display: block;
    }
}