@import "~bootstrap/scss/bootstrap";

.deliveryTitle {
    color: #91c03e;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    width: 100vw;
}

.caroselItem {
    margin-bottom: 15px
}

.caroselImg {
    height: 114px
}

.carouselDivider {
    width: 35%;
    margin-top: 10px;
    margin-bottom: 25x;
}

.carouselEatZillalogo {
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    margin-bottom: 15px;
}

.carouselEatZillalogo img {
    margin-left: auto;
    margin-right: auto;
}

.loremParagraph {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.copyright {
    margin: 20px;
    text-align: center;
}

.phoneNumber {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
}

.transparentBox {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 50;
    width: 100%;
}

.figures{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
}

.card {
     margin: 10px;
     position: relative;
    width: 33em;
     .card-text {
    
     position: absolute;
     background-color: #91c03e;
     color: white;
     font-size: 200%;
    }
    .card-img{
        width: 100%;
        height: 100%;
    }
}
.card-info{
    position: absolute;
    margin-top: 11em;
    background-color: rgba(0,0,0,0.5);
    color: white;
}
.card-info.right{
    right: 0;
    margin-top: 11em;
}
.recipes{
    width: 12em;
}
.meat{
    right: 0;
    width: 8em;
    margin-top: 4em;
}
.veggie{
    width: 16.5em;
}
.gluten{
    right: 0;
    width: 8em;
    margin-top: 4em;
}
.try {
    display: flex;
}
.try .card-text{
    align-self: center;
    width: 10em;
    margin-top: 4em;
    background-color: rgb(0,0,0);
    
}
.trying{
    align-self: center;
    width: 20em;
}
.member {
    display: flex;
}
.member .card-text{
    width: 10em;
    align-self: center;
    margin-top: 4em;
    background: #ffd200;
    color: black;

}
.members{
    align-self: center;
    width: 20em; 
}
.left .card-text {
        margin-top: 4em;
    
}

.card .right {
    width: 16em;
    .card-text {
        right: 0;
        margin-top: 4em;
    }
 }

 .logInButton {
     border: 0;
 }

     
 .top{
     width: 100%;
     position: relative;
     .card-imgtop{
     width: 100%; 
    }
    .card-texttop {
        position: absolute;
        color: white;
        font-size: 400%;
        align-self: center;
        margin: 6em;
    }
}

.headerTitle {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    position: relative;
    bottom: -270px;
    margin-right: 55px;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.headerSubtitle {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    text-align: right;
    position: relative;
    bottom: -270px;
    margin-right: 55px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.navItems .navParent li {
    list-style-type: none;
    margin: .25em;
    font-size: 15px;
    margin-left: 15px;
}
@media(min-width: 850px) {
    .deliveryPartners {
        display: none;
    }

    .headerRow {
        display: none;
    }
    .desktopHeader {
        display: block;
        display: flex;
        width: 100vw;
    }
    .navParent{
        display: flex;
        // border: 2px solid red;
        width: 125%;
        justify-content: space-between;
        margin-top: 20px;
       font-family: "raleway";
       font-weight: bold;
    } 
    .navItems .navParent li {
        list-style-type: none;
        margin: .25em;
        font-size: 15px;
        margin-left: 15px;
    }

    .navSearch {
        display:flex;
        justify-content: flex-end;
        // border: 2px solid red;
        width: 35%;
        margin: 2em;
    }
   
    .searchIcon {
        margin-right: 4em;
    }
    .aboutText{
        width: 100vw;
    }

}

@media(max-width: 420px){
    .figures{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 40em;
        margin: auto;
    }
    .desktopHeader {
        display: none;
    }
    .headerRow {
        display: block;
    }
}
